*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Madefor, Helvetica Neue, Helvetica, Arial, メイリオ, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
}
.s1{
    width: 100%;
    height: 120px;
    display: flex;
    background: #fff;
   position: sticky;
   top: 0;
   z-index: 1;
}
.head{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

  
}

.a1{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}
.a1>h1{
font-weight: bold;
font-size: 27px;
}
.a1>h1:hover{
    cursor: pointer;

}
.fa-square{
    font-size: 20px;
    color: blue;
}
.a2{
flex-basis: 50%;
display: flex;
align-items: center;
padding-left: 250px;

}

.a2>ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}
.a2>ul>li{
    list-style: none;
    font-size: 14px;
   
}
.a2>ul>li>a{
    text-decoration: none;
    color: #111;
}

.a2>ul>li>a:focus  {
    color: #0050ff;
}
.a2>ul>li>:hover{
    color: blue;
    cursor: pointer;
}

.s2{
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}
.s2>.ss1{
    width: 100%;
    height: 100%;
display: flex;
position: absolute;

}
.s2>.ss1>.a1{
    flex-basis: 40%;
    width: 100%;
    
    background-color:#e6dace;
}
.s2>.ss1>.a2{
    width: 100%;
  
   background-color: #fff;
 flex-basis: 60%;
}
.s2>.ss2{
  
    flex-basis: 50%;   
    width: 100%;
    height:100%;
    display: flex;
    position: absolute;;
    top:165px ;
    left: 220px;
   
  
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  box-shadow: -2px 5px  10px grey;
   
  width: 375px;
  height: 527px;
    background: #f4ece6;
}
.name{
    flex-basis: 90%;
    padding-top: 40px;
}
.img{
border:none;
  border-radius: 100%;
}

.hh1{
    font-size: 27px;
    font-weight:bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:30px ;
}
.name>p{
    padding-top: 25px;
   font-size: 17px;
   text-align: center;
    letter-spacing: 0.27em;
}
.icon{
    width: 100%;
    flex-basis: 10%;
    font-size: 20px;
    display: flex;
    gap: 30px;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.intro{
width:485px;


 border: 1px splod black;
 display:flex;
 flex-direction: column;
 padding-left: 30px;
}
.intro>h1{
    font-size: 100px;
}
.intro>h2{
    font-size: 25px;
    padding-top: 23px;
}
.button{
 padding-top: 40px;
padding-bottom:50px;
  display: flex;
  gap :15px;
  
}

.button>button{
    
    border-radius: 20px;
   
}
.button1{
    border: 0.5px solid #0050ff;
    color: white;
    background: #0050ff;
    font-weight: bold;
    transition: 0.3s;
    padding: 9px 40px;
}
.button1:hover{
    color: #0050ff;
    background: white;
    border: 0.5px solid #0050ff;
    transition: 0.3s;
}
.button2{
    border: 0.5px solid  black;
    color: black;
    background: white;
    font-weight: bold;
    transition: 0.3s;
    padding: 7px 35px;
}
.button2:hover{
    color: white;
    background: #0050ff;
    border: 0.5px solid #0050ff;
    transition: 0.3s;
}
.intro>p{
    letter-spacing: 0.05em;
    line-height: 1.5em;
    font-size: 17px;
    
}
.footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f1{
    height: 100%;
    flex-basis: 50%;
 padding-top: 40px;
    padding-left: 30px;
    font-size: 14px;
  

}

.f2{
    flex-basis: 50%;
    display: grid;
    align-items: center;
    width: 100%;
    height:70%;
 grid-template-columns: repeat(3,1fr);
  
    font-size: 14px;
    text-align: center;
}
.grid-item{
    display: flex;align-items: center;
    justify-content: center;
    gap: 15px;
}
